<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        border:2px solid;
    }
</style>
<body>
    
    <table>

        <tr><th>Id</th>
        <th>VillageName</th>
        <th>Colony</th>
        <th>Hostel</th></tr>
    </table>
    {% for i in data %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.vlg}}</td>
        <td>{{i.t2.col}}</td>
        <td>{{i.t3.name}}</td>
    </tr>
    {% endfor %}

</body>
</html>