
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "b11 b12 b13 b14"
        "b21 b22 b23 b24"
        "b31 b32 b33 b34"
        "b41 b42 b43 b44"
        "footer footer footer footer";
    gap: 10px;
}


.head {
    grid-area: header;
    border: 1px solid black;
    height: 50px;
}


.foot {
    grid-area: footer;
    border: 1px solid black;
    height: 50px;
}


.box {
    border: 1px solid black;
    height: 250px;
    padding: 10px;

    overflow: hidden;       
    position: relative;     
}


.box::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("https://images.pexels.com/photos/12376909/pexels-photo-12376909.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 1s ease;
}


.box:hover::before {
    transform: scale(1.2);
}


#b11 { 
    grid-area: b11; }
    
#b12 {
     grid-area: b12; 
    }
#b13 { 
    grid-area: b13; }
    
#b14 { 
    grid-area: b14; }
    

#b21 { 
    grid-area: b21; }
    
#b22 {
     grid-area: b22; 
    }
#b23 { 
    grid-area: b23; }
    
#b24 { 
    grid-area: b24; }
    

#b31 {
     grid-area: b31; 
    }
#b32 {
     grid-area: b32; 
    }
#b33 {
     grid-area: b33; 
    }
#b34 {
     grid-area: b34; 
    }

#b41 {
     grid-area: b41; 
    }
#b42 {
     grid-area: b42; 
    }
#b43 {
     grid-area: b43; 
    }
#b44 {
     grid-area: b44; 
    }