<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
<input type="text" name="stand" placeholder="Enter Class" id=""> <br> 
<input type="text" name="class" placeholder="Enter room No" id=""> <br> 
<input type="number" name="strength" placeholder="Enter Strength" id=""> <br> 
<input type="text" name="teacher" placeholder="Enter Teacher Name" id=""> <br> 
<input type="text" name="cr" placeholder="Enter Cr name" id=""> <br> 
<button type="submit">SUBMIT</button>

    </form>
</body>
</html>