<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border:1px solid;">
        <tr><th>Id</th>
        <th>Name</th>
        <th>Seat</th>
        <th>Stand</th>
        </tr>

        {% for i in ipl %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.seat}}</td>
            <td>{{i.stand}}</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>