body{
    margin: 0px;
    padding: 0px;
}


.mainwrapper{
    display: flex;
    
}

.image{
    width: 50%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/18356772/pexels-photo-18356772.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text{

    display: flex;
    padding: 5px;
    height: 300px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

@media screen  and (max-width:390px){

    .mainwrapper{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
}